* {
    /* border: 1px solid white; */
    /* margin: 2px; */
    background-color: #557265;
    color: aliceblue;
}

body {
    border: 5px solid white;
}

body {
    height: 100%;
    width: 100%;
}


/* Flex containers */
.title,
.nav,
.pic-container,
.article-container,
.middle-container,
.article-title,
.date{
    display: flex;
}

.title,
.pic-container,
.article {
    border-bottom: 1px solid red;
}

.nav{
    align-items: flex-end;
}

.nav {
    width: 120px;
    margin-left: auto;
    justify-content: space-between;
}

/* Change color and functions for buttons */

.pic-container {
    /* border:1px solid  rgb(8, 64, 248); */
    justify-content: center;
}

 .pic-container img {
    width: 900px;
    flex: 1 1 auto;
 }

.article {
    margin: 5px;
}

.date {
    font-size: 10px;
    align-items: center;
    margin-left: auto;
    padding-right: 5px;
}

.middle-container {
    /* border: 1px solid white; */
    margin-top: 15px;
    display: flex;
    /* flex-wrap: wrap; */
}

.ipsum-pic {
    flex: 1 1 auto;
}

