* {
    /* border: 1px solid white; */
    background-color: black;
    color: aliceblue;
}

html {
    border: 1px solid white;
}

.title {
    border: 1px solid red
}

/* Flex containers */
.title,
.nav,
.pic-container,
.content-container {
    display: flex;
}

.nav {
    display:flex;
    align-items: flex-end;
}

.nav {
    width: 120px;
    margin-left: auto;
    justify-content: space-between;
}

/* Change color and functions for buttons */

.pic-container {
    border:3px solid  rgb(8, 64, 248);
    justify-content: center;
}
 img {
    width: 900px;
 }

