* {
    margin: 18px;
    padding: 0px;
    box-sizing: border-box;
    /* display: flex;
    flex-wrap: wrap;
    flex-direction: column; */
}

body {
    border: 2px solid rgb(223, 35, 35);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex: 1;
}

.nav-container {
    
    border: 2px solid blue;
    display: flex;
    justify-content: center;
}

.nav {
    
    border: 2px solid greenyellow;
    display: flex;
}

.nav2 {
    display: flex;
    margin-right: auto;
}

.header-container {
    width: 900px;;
    border: 2px solid rgb(102, 51, 153);
    display: flex;
    justify-content: center;
}

.header,
.edge {
    display: flex;
    align-self: center;
    font-size: 40px;
}



.content-container {
    width: 900px;
    border: 2px solid #8efa01;
    /* padding-left: 25px; */
    margin-top: 20px;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: flex-start;
}

.calendar {
    border: 2px solid black;
    display: flex;
    margin-top: 20px;
    flex-wrap: wrap;
    justify-content: flex-start;
}

div.item {
    border: 2px solid hsl(0, 76%, 44%);
    padding: 30px;
    display: flex;
    flex: 1;
}

/* Trying to get number in each item
to sit in the corner */

.last-three {
    /* border: 2px solid hsl(229, 81%, 33%); */
    display: flex;
    margin: 0;
    /* justify-self: flex-start; */
}