* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    background: rgb(194, 167, 217);
    /* display: flex;
    flex-wrap: wrap;
    flex-direction: column; */
}



.nav-container {
    
    margin: 5px;;
    /* border: 2px solid blue; */
    display: flex;
}

.nav {
    margin: 5px;
    /* border: 2px solid greenyellow; */
    display: flex;
    flex: 1;
}

.nav-item {
    margin: 5px;
}

.nav2 {
    display: flex;
    margin-right: auto;
}

.header-container {
    margin: 5px;
    /* border: 2px solid rgb(102, 51, 153); */
    display: flex;
    justify-content: center;
}

.header,
.edge {
    display: flex;
    align-self: center;
    font-size: 40px;
}


/* Need container to be span of available space
so calendar can be centered */

.content-container {
    /* border: 2px solid #8efa01; */
    margin-top: 20px;
    display: flex;
    justify-content: center;
   
}

.cal-container {
    /* border: 2px solid #0a30c9; */
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.calendar {
    /* border: 2px solid black; */
    width: 1250px;
    display: flex;
    margin: 20px;
    padding-left: 40px;
    flex-wrap: wrap;
    justify-content: flex-start;
}

div.item {
    height: auto;
    width: auto;
    border: 1px solid hsl(0, 0%, 0%);
    padding: 75px;
    margin: 1px;
    /* display: none; */
    /* flex: 1; */

     /* Hide the text. */
     color: transparent;
}

/* Trying to get number in each item
to sit in the corner */

.last-three {
    /* border: 2px solid hsl(229, 81%, 33%); */
    display: flex;
    margin: 0;
    /* justify-self: flex-start; */
}