/*border: 1px solid #fff;  /* For debugging */

* { 
  /* border: 1px solid #fff; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.menu-container {
  background: #658864;
  color: white;
  padding: 20px 0;
  display: flex;
  justify-content: center;
}

.menu {
  width: 900px;
  display: flex;
  justify-content: space-between;
}

.item-three {
  margin-left: 20px;
}

.item-two {
  margin-left: auto;
} 

.header-container {
  background: #B7B78A;
  color: #ffffff;
  display: flex;
  justify-content: center;
}

.header {
  width: 900px;
  height: 300px;
  background: #bc6c25;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.media,
.subscribe {
  display: flex;
  align-self: flex-end;
}

.logo {
  font-weight: bold;
  font-size: 32px;
}

.content-grid-container {
  background-color: #d1d1d1;
  display: flex;
  justify-content: center;
}

.content-grid {
  width: 1000px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.footer-container {
  background-color: #292524;
  color: #fff;
  display: flex;
  justify-content: space-between;

}

.footer-item {
  height: 100px;
  margin-bottom: 10px;
}

.footer1,
.footer3 {
  background: #78716c;
  flex: initial;
  width: 300px;
  flex-direction: column;

 }

 .footer3 {/*get this to bottom right*/
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 5px;
}
