/*border: 1px solid #fff;  /* For debugging */

* {
  border: 1px solid #fff;  
  background: #B7B78A;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.menu-container {
  color: white;
  display: flex;
  padding: 20px;
  background: #658864;
  justify-content: center;
}

.menu {
  width: 900px;
  display: flex;
  justify-content: space-between;
}


.header-container {
  color: #ffffff;
  padding: 75px;
  display: flex;
  justify-content: space-around;
}

.header {
  font-weight: 700;
  font-size: 32px;
  background: #bc6c25;
  padding: 20px;
}

.edge {
  font-size: 24px;
  color: #000000;
  width: 100px;
  background: #ecd79b;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .content-container {
  display: flex;
  justify-content: center;
} */

.photo-grid {
  display: flex;
  border: 5px solid black;
  flex-wrap: row;
  flex-direction: row;
  align-items: center;
  margin: 250px;
  width: 500px;
}

.photo-grid-item {
  margin: 5px;
  background: #EEEEEE;
  display: flex;
  justify-content: space-between;
  padding:  opx
}

.photo-grid-item {
  flex: 1;
}