* {
    /* border: 1px solid white; */
    /* margin: 2px; */
    background-color: #557265;
    color: aliceblue;
}

body {
    /* border: 5px solid white; */
}

html {
    /* border: 5px solid plum; */
}

html {
    height: 100%;
    width: 100%;
}


/* Flex containers */
.title,
.nav,
.pic-container,
.article-container,
.middle-container,
.article-title,
.date,
.impsum-container{
    display: flex;
}

/* Red Underline */
.title,
.pic-container,
.article {
    border-bottom: 1px solid red;
}

.nav {
    width: 120px;
    margin-left: auto;
    justify-content: space-between;
    align-items: flex-end;
}

/* Change color and functions for buttons */

/* Keyboard */
.pic-container {
    /* border:1px solid  rgb(8, 64, 248); */
    justify-content: center;
}

 .pic-container img {
    width: 50%;
    flex: 1 1 auto;
 }

.article {
    margin: 5px;
}

.date {
    font-size: 10px;
    align-items: center;
    margin-left: auto;
    padding-right: 5px;
}

.middle-container {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
}

.ipsum-pic {
    /* width: 50%; */
    align-self: center;
    flex: 1 1 auto;
}

/* .ipsum-container {
    border: 1px solid blue;
    flex-wrap: wrap;
} */

