* {
    /* border: 1px solid white; */
    background-color: #557265;
    color: aliceblue;
}

html {
    height: 100%;
    width: 100%;
}


/* Flex containers */
.mike-title,
.nav,
.pic-container,
.article-container,
.middle-container,
.article-title,
.date,
.impsum-container{
    display: flex;
}

/* Red Underline */
.mike-title,
.pic-container,
.article {
    border-bottom: 1px solid red;
}

.nav {
    flex-basis: 150px;
    margin-left: auto;
    margin-top: auto;
    justify-content: flex-end;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 5px;
}

/* Keyboard */
.pic-container {
    justify-content: center;
}

 .pic-container img {
    width: 50%;
    flex: 1 1 auto;
 }

 .search-container {
    display: flex;
    justify-content: center;
 }

.article {
    margin: 5px;
}

.date {
    font-size: 10px;
    align-items: center;
    margin-left: auto;
    padding-right: 5px;
}

.middle-container {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
}

.ipsum-pic {
    align-self: center;
    flex: 1 1 auto;
}

button, 
a {
    background: rgb(28, 182, 131);
}

/* .ipsum-container {
    border: 1px solid blue;
    flex-wrap: wrap;
} */

